// Variables
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Montserrat&family=Red+Hat+Mono&family=Roboto+Slab&display=swap');

@font-face {
    font-family: 'twemoji';
    src: url(../fonts/twemoji.ttf);
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.bg-reset {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-100 {
    background-size: 100% !important;
}

.bg-contain {
    background-size: contain !important;
}

.tinytext {
    font-size: 0.8rem;
}

.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}
